
<form (ngSubmit)="onSubmit(); osobaForm.reset()" #osobaForm="ngForm">
  <div class="form-group">
    <label for="ime">Ime:</label>
    <input type="text" id="ime" name="ime" [(ngModel)]="osoba.ime" #ime="ngModel" required>
    <div [hidden]="ime.valid || ime.pristine"
         class="alert alert-danger">
      Nedostaje Ime
    </div>
  </div>

  <div class="form-group">
    <label for="Prezime">prezime:</label>
    <input type="text" id="prezime" name="Prezime" [(ngModel)]="osoba.prezime" required>
    <div [hidden]="ime.valid || ime.pristine"
         class="alert alert-danger">
      Nedostaje Prezime
    </div>
  </div>

  <div style="width: 250px" class="form-group">
    <label for="Spol">spol:</label>
    <select class="form-control" id="Spol" name="Spol" [(ngModel)]="osoba.spol" required>
      <option *ngFor="let spol of spolovi" [value]="spol">{{spol}}</option>
    </select>
    <div [hidden]="ime.valid || ime.pristine"
         class="alert alert-danger">
      Nedostaje Spol
    </div>
  </div>

    <div class="form-group">
      <label for="Datum">Datum rođenja:</label>
      <input type="date" id="Datum" name="Datum" [(ngModel)]="osoba.datum" required>
      <div [hidden]="ime.valid || ime.pristine"
           class="alert alert-danger">
        Nedostaje Datum
      </div>
    </div>

    <div class="form-group">
      <label for="Adresa">adresa:</label>
      <input type="text" id="Adresa" name="Adresa" [(ngModel)]="osoba.adresa" required>
      <div [hidden]="ime.valid || ime.pristine"
           class="alert alert-danger">
        Nedostaje Adresa
      </div>
    </div>

    <div class="form-group">
      <label for="Telefon">telefon:</label>
      <input type="text" id="Telefon" name="Telefon" [(ngModel)]="osoba.telefon" required>
      <div [hidden]="ime.valid || ime.pristine"
           class="alert alert-danger">
        Nedostaje Telefo
      </div>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="!osobaForm.form.valid">Spremi</button>

</form>

