<div style="margin:30px" >
  <app-osobe-form [osobaEdit]="osobaEdit" (updateTable)="updateTable()"></app-osobe-form>
  <hr />
  <table class="table" *ngIf="osobe">
    <thead>
      <tr>
        <th>ID</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Spol</th>
        <th>Datum Rođenja</th>
        <th>Adresa</th>
        <th>Telefon</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr app-osoba-item *ngFor="let osoba of osobe" [osoba]="osoba" (editEvent)="editOsoba($event)"></tr>
    </tbody>
  </table>
</div>

