
  <td>{{ osoba.id }}</td>
  <td>{{ osoba.ime }}</td>
  <td>{{ osoba.prezime }}</td>
  <td>{{ osoba.spol }}</td>
  <td>{{ osoba.datum }}</td>
  <td>{{ osoba.adresa }}</td>
  <td>{{ osoba.telefon }}</td>
  <td> <button (click)="onEdit(osoba)"> Edit</button></td>


